.body{
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #CC0000;
}

.textContainer{
	background-color: #FFFFFF;
	padding-left: 25px;
	border-radius: 15px;
	padding: 5px 25px;
	margin: 15px;
}

.headerBox{
	text-decoration: underline;
	font-weight: bold;
}

.textBox{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.pictureBox{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

h1{
	font-size: xx-large;
	text-decoration: underline;
	font-weight: bold;
}

h2{
	font-size: x-large;
}

h3{
	font-size: large;
}

h4{
	font-size: large;
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}